.gacha-result{
    font-size: 40px;
    margin: 5px;
    display:inline;
}
.chinko{
    /* 背景グラデーションを指定・幅を 200% にしておく */
    background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* アニメーション指定 */
    animation: rainbow 0.3s linear infinite;
}

.gacha-button{
    border: none;
    border-radius:5px;
    height: 50px;
    font-size: 20px;
    font-weight:400;
    color: #201000;
    transform:skew(-15deg);
    background: -moz-linear-gradient(left,gold,lemonchiffon,80%,gold);
    background: -webkit-linear-gradient(left,gold,lemonchiffon,80%,gold);
    background: linear-gradient(to right,gold,lemonchiffon,80%,gold);
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.3);
    transition: 0.1s;
    margin-bottom:10px;

    &:hover{
        box-shadow: 0 0 rgba(0,0,0,0.3);
    }
    .number{
        font-weight:bold;
    }
}

.upgrade-button{
    font-size: 15px;
    width: 162px;
    height: 100px;
    
    &.disabled{
        color: dimgray;
        background: aliceblue;
        border: 2px solid dimgray;
    }
    &.enabled{
        color: black;
        background: lightskyblue;
        border: 2px solid black;
    }
}

.prestige{
    font-size:15px;
    width:162px;
    height:100px;

    &.disabled{
        color:dimgray;
        background: thistle;
        border: 2px solid dimgray;
    }
    &.enabled{
        color:black;
        background:mediumpurple;
        border:2px solid black;
    }
}

.options{
    .simple-gacha-border{
        margin-top:30px;
        width:40px;
    }
    .delete-save{
        margin-top:10px;
        color:red;
    }
}

@keyframes rainbow{
    to {background-position-x: 200%;}
}

body{
    margin:10px;
    white-space:normal;
}
